In [4]:
import pandas as pd
import numpy as np
import csv
from scipy.stats import norm
import streamlit as st

In [5]:
file_name = "2022-01-08.csv" 
dataset = pd.read_csv(file_name)

In [6]:
dataset.head(10)

,Unnamed: 0,ID,Name,Year,Rank,Average,Bayes average,Users rated,URL,Thumbnail
0,105,30549,Pandemic,2008,106,7.59,7.487,108975,/boardgame/30549/pandemic,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...
1,189,822,Carcassonne,2000,190,7.42,7.309,108738,/boardgame/822/carcassonne,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...
2,428,13,Catan,1995,429,7.14,6.970,108024,/boardgame/13/catan,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...
4,103,36218,Dominion,2008,104,7.61,7.499,81561,/boardgame/36218/dominion,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...
5,191,9209,Ticket to Ride,2004,192,7.41,7.305,76171,/boardgame/9209/ticket-ride,https://cf.geekdo-images.com/ZWJg0dCdrWHxVnc0e...
6,100,178900,Codenames,2015,101,7.60,7.508,74419,/boardgame/178900/codenames,https://cf.geekdo-images.com/F_KDEu0GjdClml8N7...
7,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216,/boardgame/167791/terraforming-mars,https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZ...
8,15,173346,7 Wonders Duel,2015,16,8.11,7.984,69472,/boardgame/173346/7-wonders-duel,https://cf.geekdo-images.com/WzNs1mA_o22ZWTR8f...
9,35,31260,Agricola,2007,36,7.93,7.809,66093,/boardgame/31260/agricola,https://cf.geekdo-images.com/dDDo2Hexl80ucK1Il...

In [6]:
clean_data  = dataset.drop(["URL", "Thumbnail"], axis = 1) 
clean_data = clean_data.rename(columns = {"Unnamed: 0" : "Game Index", "Bayes average": "Bayes Average", "Users rated" : "Number_of_Ratings"})

# Cleaned the data: took out the Bayes average, URL and thumbnail columns

clean_data

,Game Index,ID,Name,Year,Rank,Average,Bayes Average,Number_of_Ratings
0,105,30549,Pandemic,2008,106,7.59,7.487,108975
1,189,822,Carcassonne,2000,190,7.42,7.309,108738
2,428,13,Catan,1995,429,7.14,6.970,108024
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982
4,103,36218,Dominion,2008,104,7.61,7.499,81561
...,...,...,...,...,...,...,...,...
21826,12748,296892,Sacred Rites,2020,12749,7.37,5.531,30
21827,15016,217378,BABEL,2016,15017,6.61,5.517,30
21828,19459,18063,Goldrush,1970,19460,5.00,5.488,30
21829,17256,10052,Bongo Kongo,1989,17257,5.80,5.505,30
21830,12768,165946,Green Beret: Vietnam,2015,12769,7.21,5.531,30

In [7]:
# Data sorted by the average score
data_by_average = clean_data.sort_values("Average", ascending= False)

# I could move it through the following method, but I won't do it yet: 
# # Move column "C" to the first position
# column = data.pop("C")
# data.insert(0, "C", column)
# print(data)

data_by_average

,Game Index,ID,Name,Year,Rank,Average,Bayes Average,Number_of_Ratings
18912,13628,274471,Malhya: Lands of Legends,2022,13629,9.57,5.526,41
18429,14432,275777,Erune,2021,14433,9.56,5.521,43
14609,17552,228370,TerroriXico,2018,17553,9.43,5.503,70
17731,7432,345976,System Gateway (fan expansion for Android: Net...,2021,7433,9.40,5.600,47
15825,11478,322354,DEFCON 1,2022,11479,9.36,5.540,60
...,...,...,...,...,...,...,...,...
17569,21579,18044,BreaKey,2003,21580,1.48,5.395,48
19218,21520,99918,W.W.B,2011,21521,1.44,5.410,40
21278,21429,19377,Rock Paper Scissors Game,2005,21430,1.31,5.427,31
6871,21773,276022,Alien: USCSS Nostromo,2019,21774,1.16,5.160,269
14093,21703,144110,Oneupmanship: Mine's Bigger,2013,21704,1.04,5.319,75

In [8]:
# Data sorted by the rank, same as sorting by the Bayes Average
data_by_rank = clean_data.sort_values("Rank")
data_by_rank

,Game Index,ID,Name,Year,Rank,Average,Bayes Average,Number_of_Ratings
26,0,174430,Gloomhaven,2017,1,8.74,8.511,47827
28,1,161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041
98,2,224517,Brass: Birmingham,2018,3,8.66,8.418,25484
7,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216
199,4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025
...,...,...,...,...,...,...,...,...
1496,21826,7316,Bingo,1530,21827,2.88,3.971,2282
846,21827,5048,Candy Land,1949,21828,3.18,3.801,4238
880,21828,5432,Chutes and Ladders,200,21829,2.87,3.614,4035
1029,21829,11901,Tic-Tac-Toe,1300,21830,2.70,3.575,3436
21207,21830,339592,Sheep in Disguise,2022,21831,8.86,0.000,32

In [37]:
data_sorted_by_bayes = clean_data.sort_values("Bayes Average", ascending = False)
data_sorted_by_bayes

,Game Index,ID,Name,Year,Rank,Average,Bayes Average,Users Rated
26,0,174430,Gloomhaven,2017,1,8.74,8.511,47827
28,1,161936,Pandemic Legacy: Season 1,2015,2,8.59,8.442,45041
98,2,224517,Brass: Birmingham,2018,3,8.66,8.418,25484
7,3,167791,Terraforming Mars,2016,4,8.42,8.274,74216
199,4,233078,Twilight Imperium: Fourth Edition,2017,5,8.68,8.262,16025
...,...,...,...,...,...,...,...,...
1496,21826,7316,Bingo,1530,21827,2.88,3.971,2282
846,21827,5048,Candy Land,1949,21828,3.18,3.801,4238
880,21828,5432,Chutes and Ladders,200,21829,2.87,3.614,4035
1029,21829,11901,Tic-Tac-Toe,1300,21830,2.70,3.575,3436
21207,21830,339592,Sheep in Disguise,2022,21831,8.86,0.000,32

In [9]:
file_reviews = "bgg-19m-reviews.csv" # second dataset
dataset_reviews = pd.read_csv(file_reviews)
# dataset_reviews.head(10)
# takes 42 secs to run, tough

In [7]:
dataset_reviews.head(10)

,Unnamed: 0,user,rating,comment,ID,name
0,0,Torsten,10.0,NaN,30549,Pandemic
1,1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic
2,2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic
3,3,Mike Mayer,10.0,NaN,30549,Pandemic
4,4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic
5,5,cfarrell,10.0,Hey! I can finally rate this game I've been pl...,30549,Pandemic
6,6,katrinacarenne,10.0,NaN,30549,Pandemic
7,7,DSpangler,10.0,NaN,30549,Pandemic
8,8,gregd,10.0,Love it- great fun with my son. 2 plays so far...,30549,Pandemic
9,9,calbearfan,10.0,"Fun, fun game. Strategy is required, but defin...",30549,Pandemic

In [10]:
# Clean the second dataset
# The unnamed section is kind of useless, and so are the user names
# the comments could be useful but 
clean_review_data = dataset_reviews.drop(["Unnamed: 0", "comment"], axis = 1)
clean_review_data = clean_review_data.rename(columns = {"user":"User", "rating":"Rating", "name" : "Name_of_Game"})

In [2]:
clean_review_data
# count the number of times a game (an ID) has a positive review (> 6) 
# for each ID and divide by the total number of reviews.
# join after, subquery

NameError: name 'clean_review_data' is not defined

In [ ]:
# total number of reviews per game, useless I think
# clean_review_data.loc(clean_review_data['ID'] == unique_id).sum()
total_reviews_per_game = clean_review_data["ID"].value_counts()

ID
30549     108971
822       108881
13        108195
68448      90110
36218      81623
           ...
9409          30
331953        30
113544        30
101539        30
3023          30
Name: count, Length: 21839, dtype: int64

In [34]:
clean_review_data.loc[(clean_review_data["ID"] == 1752) & (clean_review_data['Rating'] >= 6.0)]

                 User  Rating    ID Name_of_Game
18964777        dok33     8.0  1752         Haps
18964778     DrPhibes     7.0  1752         Haps
18964779      Rukus77     7.0  1752         Haps
18964780  jchernofsky     7.0  1752         Haps
18964781    Flashwolf     7.0  1752         Haps
18964782         Ench     6.0  1752         Haps
18964783      hauwech     6.0  1752         Haps
18964784      Der Das     6.0  1752         Haps
18964785   carpet2004     6.0  1752         Haps
18964786      Vortexx     6.0  1752         Haps

In [9]:
# Finding the number of positive reviews per game:
def count_positive_reviews_per_game(dataset, ID):
    
    df_positive_reviews = dataset.loc[(dataset["ID"] == ID) & (dataset['Rating'] >= 6.0)] 
    # Loc Accesses a group of columns by labels and makes a new df
    positive_reviews_count = df_positive_reviews['Rating'].count() 
    # the variable counts every element in the df, so all the positive reviews
    
    
    return int(positive_reviews_count)
count_positive_reviews_per_game(clean_review_data, 30549 )

102640

In [13]:
def total_reviews(dataset, ID):
    total_reviews = dataset['Number_of_Ratings']
    total_reviews_ID = total_reviews.loc[(dataset['ID']== ID)]
    return int(total_reviews_ID.iloc[0])

total_reviews(clean_data, 30549)
# Finding the total number of reviews per game, it's just the Number_of_Ratings column.

108975

In [14]:
def share_of_positive_reviews_per_game(ID):
    share_of_pos_reviews_per_game = float(count_positive_reviews_per_game(clean_review_data, ID) / total_reviews(clean_data, ID))
    return round(share_of_pos_reviews_per_game, 3)

share_of_positive_reviews_per_game(30549)

0.942

In [78]:
for id in clean_data['ID']:
    print(share_of_positive_reviews_per_game(id))

0.942
0.936
0.883
0.956
0.931
0.935
0.948
0.966
0.978
0.935
0.955
0.935
0.957
0.917
0.956
0.973
0.907
0.913
0.952
0.966
0.911
0.965
0.971
0.908
0.933
0.953
0.954
0.947
0.96
0.878
0.626
0.947
0.952
0.889
0.923
0.964
0.901
0.865
0.917
0.875
0.95
0.923
0.936
0.951
0.866
0.901
0.942
0.953
0.912
0.967
0.954
0.884
0.919
0.962
0.949
0.972
0.962
0.965
0.924
0.533
0.956
0.976
0.935
0.929
0.904
0.946
0.913
0.829
0.253
0.957
0.918
0.912
0.959
0.965
0.935
0.972
0.891
0.921
0.946
0.832
0.718
0.939
0.944
0.796
0.922
0.831
0.934
0.923
0.96
0.938
0.913
0.933
0.931
0.891
0.955
0.937
0.957
0.971
0.982
0.887
0.97
0.665
0.824
0.842
0.615
0.974
0.949
0.882
0.909
0.938
0.93
0.868
0.467
0.947
0.875
0.896
0.877
0.934
0.856
0.942
0.927
0.879
0.94
0.919
0.949
0.919
0.917
0.918
0.957
0.953
0.966
0.948
0.882
0.962
0.871
0.913
0.919
0.966
0.938
0.948
0.951
0.966
0.877
0.911
0.82
0.931
0.936
0.857
0.971
0.91
0.937
0.913
0.931
0.933
0.917
0.922
0.918
0.917
0.923
0.936
0.937
0.546
0.922
0.965
0.875
0.931
0.59
0.938
0.923
0.93
0.893
0.959
0.905
0.926
0.937
0.97
0.875
0.896
0.941
0.871
0.946
0.905
0.937
0.945
0.969
0.933
0.988
0.729
0.932
0.858
0.973
0.979

KeyboardInterrupt:

In [21]:
def confidence_level(confidence):
    cl = norm.ppf(confidence)
    return cl
# https://stackoverflow.com/questions/20864847/probability-to-z-score-and-vice-versa

# with the list here you could use np.array to calculate all your total review stuff.
def Wilson_Function(ID, confidence):
    z = confidence_level(confidence)
    n = total_reviews(clean_data, ID)
    p_hat = 1 * share_of_positive_reviews_per_game(ID) #/ total_reviews(clean_data, ID)
    wilson_score = round(float((p_hat + z**2/(2*n) - z*np.sqrt((p_hat*(1 - p_hat) + z**2/(4*n))/n)) / (1 + (z**2)/n)), 2)
    


    return wilson_score
Wilson_Function(30549 , .95)

0.94

In [85]:
def array_scores(dataset, ID):
    list_scores = []
    i = 1
    for i in range(1,11):
        df_i_reviews = dataset.loc[(dataset['ID'] == ID) & (dataset['Rating'].between(i, i + 1, inclusive='left'))]
        i_reviews = df_i_reviews['Rating'].count()
        
        
        list_scores.append(int(i_reviews))
    
        i =+ 1
    
    return list_scores
array_scores(clean_review_data, 1752)

[2, 2, 1, 6, 9, 5, 4, 1, 0, 0]